<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">

            <div class="collapse navbar-collapse navbarCollapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="active">
                        <a href="{{ url_for('url_parser') }}">Url Parsaer</a>
                    </li>

                    <li>
                        <a href="{{ url_for('address_parsere') }}">Address parser</a>
                    </li>
                    <li>
                        <a href="{{ url_for('tests') }}">Testing ground</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>


    <div>    </div>
        {% block content %}{% endblock %}
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('li.active').removeClass('active');
            $('a[href="' + location.pathname + '"]').closest('li').addClass('active');
        });
    </script>
</body>
</html>